@use 'var';
@use 'mixins';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var.$gap;
  padding: 10px 20px;
  min-height: 40px;

  font-size: 0.875rem;
  color: var(--btn-text-color);
  text-decoration: none;
  line-height: 1;

  border: var.$border-width solid var(--btn-border-color);
  background-color: var(--btn-bg-color);
  transition:
    color 0.15s,
    background-color 0.15s,
    border-color 0.15s;

  @include mixins.hover() {
    color: var(--btn-text-color--hover);

    background-color: var(--btn-bg-color--hover);
    border-color: var(--btn-border-color--hover);
    cursor: pointer;
  }
}
