@use 'var';

.build-info {
  margin-block: 2 * var.$gap;

  table {
    display: block;
    width: 100%;

    border-collapse: collapse;
    border: var.$border-width solid var(--border-color);

    @media (min-width: 800px) {
      display: table;
    }
  }

  thead {
    display: none;

    background-color: var(--secondary-bg);

    @media (min-width: 800px) {
      display: table-header-group;
    }
  }

  tbody {
    display: block;

    @media (min-width: 800px) {
      display: table-row-group;
    }
  }

  tr {
    display: flex;
    flex-direction: column;

    @media (min-width: 800px) {
      display: table-row;
    }
  }

  th,
  td {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2 * var.$gap;
    padding: var.$gap;

    @media (min-width: 800px) {
      display: table-cell;

      border: var.$border-width solid var(--border-color);
    }

    &::before {
      content: attr(data-title);
      flex-shrink: 0;

      font-weight: 700;

      @media (min-width: 800px) {
        display: none;
      }
    }
  }

  td + td {
    border-top: var.$border-width solid var(--border-color);
  }
}
