@use 'var';
@use 'mixins';

@include mixins.focus;

body {
  margin: 0;

  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--body-color);
  word-break: break-word;

  background-color: var(--body-bg);
}

* {
  font-family: inherit;
  line-height: inherit;

  box-sizing: border-box;
}

#app {
  max-width: 990px;
  margin: 0 auto;
  padding-right: 2 * var.$gap;
  padding-left: 2 * var.$gap;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

a {
  color: var(--link-color);
}

summary {
  cursor: pointer;
}

pre {
  margin: 0;

  white-space: pre-wrap;
}

.pass {
  color: var(--success-color);
}

.fail {
  color: var(--fail-color);
}

.skip {
  color: var(--skip-color);
}

.error-message {
  display: flex;
  flex-direction: column;
  gap: var.$gap;
  padding: 2 * var.$gap 0;

  font-size: 14px;
  color: var(--fail-color);
}

.validation-error {
  display: block;
  margin-block: var.$gap;

  font-size: 0.75rem;
  color: var(--fail-color);
}

.screenshot {
  position: relative;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: var.$border-width solid var(--fail-color);

  img {
    max-width: 100%;
    max-height: 100vh;
  }
}

.list {
  margin-top: 2 * var.$gap;
  margin-bottom: 2 * var.$gap;
}

ol {
  display: flex;
  flex-direction: column;
  gap: var.$gap;
}

.conclusion-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var.$gap;
  margin: 2 * var.$gap 0;

  img {
    max-width: 100%;
    max-height: 100vh;
  }
}
