@use 'var';

.input,
.select {
  max-width: 448px;
  width: 100%;
  height: 40px;

  font-size: inherit;
  color: inherit;

  border-radius: 0;
  border: var.$border-width solid var(--border-color);
  background-color: var(--body-bg);

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
