@use 'var';

.header {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var.$gap 0;

  background-color: var(--body-bg);
  border-bottom: var.$border-width solid var(--border-color);
}

.header h1 {
  margin: 0;
}
