$gap: 0.5rem;
$border-width: 2px;

@mixin light-theme {
  --body-bg: #fafafa;
  --body-color: #212529;
  --secondary-bg: #f2f2f2;
  --link-color: #0d6efd;
  --border-color: #dee2e6;
  --success-color: #198754;
  --fail-color: #dc3545;
  --skip-color: #6c757d;

  --btn-text-color: var(--body-color);
  --btn-border-color: var(--body-color);
  --btn-bg-color: var(--body-bg);

  --btn-text-color--hover: var(--body-bg);
  --btn-border-color--hover: var(--body-color);
  --btn-bg-color--hover: var(--body-color);

  --drawer-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --drawer-backdrop: rgba(0, 0, 0, 0.5);
}

@mixin dark-theme {
  --body-bg: #212529;
  --body-color: #fafafa;
  --secondary-bg: #1e1e1e;
  --link-color: #6ea8fe;
  --border-color: #495057;
  --success-color: #63e6be;
  --fail-color: #ff6b6b;
  --skip-color: #c2c9d6;

  --btn-text-color: var(--body-color);
  --btn-border-color: var(--body-color);
  --btn-bg-color: var(--body-bg);

  --btn-text-color--hover: var(--body-bg);
  --btn-border-color--hover: var(--body-color);
  --btn-bg-color--hover: var(--body-color);

  --drawer-shadow:
    0 0 15px rgba(0, 0, 0, 0.5), 0 0 3px rgba(255, 255, 255, 0.1);
  --drawer-backdrop: rgba(0, 0, 0, 0.7);
}

@media (prefers-color-scheme: light) {
  :root {
    @include light-theme;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;
  }
}

:root {
  --focus-inner-color: var(--border-color);
  --focus-outer-color: var(--body-color);
}
